#pokemon-list{
  padding: 0;
  list-style: none;
  margin: 0;
  margin-top: 1rem;
  display: grid;
  max-width: 100vw;
  grid-template-columns: 1fr 1fr;
}

@media screen and (min-width: 912px){
  #pokemon-list{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media screen and (min-width:576px) and (max-width: 912px ){
  #pokemon-list{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 420px){
  #pokemon-list{
    grid-template-columns: 1fr;
  }
}

.pokemon-list__item{
  max-width: 100%;
  margin: .5rem;
  background-color: aliceblue;
  padding-top: 6rem 0;
  border-radius: 0.5rem; 
  flex-direction: column; 
  display: flex;
  border-width: 1px;
  box-shadow: 0px 0px 3px 1px #999;
  border-style: solid;
  overflow: hidden;
  -moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.pokemon-list__item--details{
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pokemon-list__types{
  display: flex;
  padding: 0px;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  flex-direction: row;
  list-style: none;
  
}

.pokemon-list__types--item{
  color: whitesmoke;
  padding: 0.35rem 0.5rem;
  font-size:  0.825rem;
  margin: 0.125rem;
  width: 100%;
  text-align: center;
  border-radius: 0.8rem;
  text-transform: uppercase;
  filter:brightness(1.1);
}


.pokemon-list__img-container{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
.pokemon-list__img-container img{
  width: 100%;
  max-width: 100%;
  height: 110px;
  padding: 0.25rem;
  object-fit: contain;
}
.pokemon-list__info--container{
  display: inline-block;
  padding: 0.45rem;
  position: relative;
}

.pokemon-list__info--title-container{
  padding-left: 0.5rem;
  padding-top: 0.25rem;
  color: #444;
  text-align: center;
  font-weight: 400;
  text-transform: capitalize;

}
.pokemon-list__info--number-container{
  padding-right: 0.5rem;
  top:0.775rem;
  left: 0.75rem;
  position: absolute;
}

.pokemon-list__item:hover{
  cursor: pointer;
  -moz-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

.pokemon-list__item:hover .pokemon-list__item:not(:hover){
  -moz-transform: scale(0.9);
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
}

.pokemon-list__link{
  text-decoration: none;

}