#pokemon-list{
  padding: 0;
  list-style: none;
  margin: 0;
  margin-top: 1rem;
  display: grid;
  max-width: 100vw;
  grid-template-columns: 1fr 1fr;
}

@media screen and (min-width: 912px){
  #pokemon-list{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media screen and (min-width:576px) and (max-width: 912px ){
  #pokemon-list{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 420px){
  #pokemon-list{
    grid-template-columns: 1fr;
  }
}

.pokemon-list__item{
  max-width: 100%;
  margin: .5rem;
  padding: 1rem;
  border-radius: 1rem; 
  flex-direction: column; 
  display: flex;
}
.pokemon-list__item--details{
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pokemon-list__item--details img{
  max-width: 100%;
  height: 70px;
  object-fit: contain;
  padding-left: 1rem;
}

.pokemon-list__types{
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0px;
  
}

.pokemon-list__types--item{
  color: whitesmoke;
  padding: 0.35rem 0.5rem;
  font-size:  0.825rem;
  margin: 0.125rem;
  width: 100%;
  text-align: center;
  border-radius: 0.8rem;
  text-transform: uppercase;
  filter:brightness(1.1);
}

.pokemon-type-normal{
  background-color:var(--pokemon-type-normal-color); 
} 
.pokemon-type-grass{
  background-color:var(--pokemon-type-grass-color); 
} 
.pokemon-type-fire{
  background-color:var(--pokemon-type-fire-color); 
} 
.pokemon-type-water{
  background-color:var(--pokemon-type-water-color); 
} 
.pokemon-type-electric{
  background-color:var(--pokemon-type-electric-color); 
} 
.pokemon-type-ice{
  background-color:var(--pokemon-type-ice-color); 
} 
.pokemon-type-ground{
  background-color:var(--pokemon-type-ground-color); 
} 
.pokemon-type-flying{
  background-color:var(--pokemon-type-flying-color); 
} 
.pokemon-type-poison{
  background-color:var(--pokemon-type-poison-color); 
} 
.pokemon-type-fighting{
  background-color:var(--pokemon-type-fighting-color); 
} 
.pokemon-type-psychic{
  background-color:var(--pokemon-type-psychic-color); 
} 
.pokemon-type-dark{
  background-color:var(--pokemon-type-dark-color); 
} 
.pokemon-type-rock{
  background-color:var(--pokemon-type-rock-color); 
} 
.pokemon-type-bug{
  background-color:var(--pokemon-type-bug-color); 
} 
.pokemon-type-ghost{
  background-color:var(--pokemon-type-ghost-color); 
} 
.pokemon-type-steel{
  background-color:var(--pokemon-type-steel-color); 
} 
.pokemon-type-dragon{
  background-color:var(--pokemon-type-dragon-color); 
} 
.pokemon-type-fairy{
  background-color:var(--pokemon-type-fairy-color); 
}  
